# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*~

# PyTorch weights
*.tar
*.pth
*.pt
*.gz
*.onnx

# Media
*.mp4

# TensorRT weights
*.engine
*.wts

# Compress file
*.zip
*.rar
*.7zip
*.so

# PyCharm
.idea
/.idea/
/.jekyll-cache/
/.sync/

/data/
/pretrained/
